@model OscarAlfaroPruebaTecnica.Models.Proveedor

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar Proveedor</h1>

<h4>Modifica datos para este proveedor</h4>
<hr />
<div class="grid-container">
    <div class="grid-item">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdProveedor" />
            <div class="form-group">
                <label asp-for="DescripcionProveedor" class="control-label">Descripción</label>
                <input asp-for="DescripcionProveedor" class="form-control" />
                <span asp-validation-for="DescripcionProveedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Editar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
