@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido al Sistema</h1>
    <p>Este portal puedes descargarlo <a href="https://github.com/oalfaro2019377/Prueba-Tecnica-Oscar-Alfaro.git">siguiento este link</a>.</p>
</div>